@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
#backtop {
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 50%;
bottom: -110px;
right: 25px;
width: 50px;
height: 50px;
z-index: -1;
animation: infinite 4s;
transition: 0.5s;
display: flex;
flex-direction: column-reverse;
align-items: center;

 img {
        width: 60px;
        height: 60px;
    }
}
nav {
    .navbar__bottom {
        #navbar-responsive {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(143, 142, 122);
            transition: 0.5s;
        }
    }
}

html {
    scroll-behavior: smooth;
}

#navbar {
    height: 80px;
    transition: 0.5s;
}

#navbar.navbar-shrink {
    height: 60px;
}

#navbar2 {
    height: 50px;
    transition: 0.5s;
}

#navbar2.navbar2-shrink {
    height: 30px;
}


#backtop {
    position: fixed;
    bottom: -60px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 4px;
    transition: 0.5s;
}

#backtop.backtop-show {
    bottom: 30px;
}

  #loader {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      opacity: 0.8;
      transition: 2s;
      z-index: 10000;
  }

  #loader.loading-none {
      z-index: -10000;
      opacity: 0;
  }

  .loader {
      width: 150px;
      height: 150px;
      border-left: 5px solid #38ff8e;
      border-radius: 50%;
      animation: right5231 0.9s linear infinite;
  }

  .loader::before,
  .loader::after {
      content: "";
      width: 120px;
      height: 120px;
      display: block;
      position: absolute;
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      border-right: 5px solid #ffbe0b;
      border-radius: 50%;
      animation: left036 0.9s linear infinite;
  }

  .loader::after {
      width: 90px;
      height: 90px;
      top: calc(50% - 45px);
      left: calc(50% - 45px);
      border: 0;
      border-top: 5px solid #ff086e;
      animation: none;
  }

  @keyframes ldio-xf8i52ldli8 {
      0% {
          transform: rotate(0deg)
      }

      50% {
          transform: rotate(180deg)
      }

      100% {
          transform: rotate(360deg)
      }
  }

  .ldio-xf8i52ldli8 div {
      position: absolute;
      animation: ldio-xf8i52ldli8 2.1399999999999997s linear infinite;
      width: 169.26px;
      height: 169.26px;
      top: 23.869999999999997px;
      left: 23.869999999999997px;
      border-radius: 50%;
      box-shadow: 0 6.0760000000000005px 0 0 #e1815b;
      transform-origin: 84.63px 87.66799999999999px;
  }

  .loadingio-spinner-eclipse-c7kl3vc0v8r {
      width: 217px;
      height: 217px;
      display: inline-block;
      overflow: hidden;
      background: #ffffff;
  }

  .ldio-xf8i52ldli8 {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
      /* see note above */
  }

  .ldio-xf8i52ldli8 div {
      box-sizing: content-box;
  }
.container {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
body{
background-color: #FAFAFA;
}
.man{
height: 458px;
}
.hero__right{
h1{
font-family: Montserrat;
font-weight: 700;
line-height: 140%;
letter-spacing: 0.25px;
}
p{
font-family: Montserrat;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
    p{
    color: rgba(0, 0, 0, 0.40);
    font-weight: 500;
    }
}
.stars{
p{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.1px;
}
}
}
.small__boxs{
.box{
width: 48px;
border-radius: 6px;
border: 1px solid #DBDEE7;
h2{
font-style: normal;
font-family: Montserrat;
font-weight: 700;
line-height: 24px;
}
}
}
.images{
gap: 15px;
position: relative;
bottom:100px;
}
.btn{
font-style: normal;
font-family: Montserrat;
font-weight: 700;
line-height: 24px;
display: flex;
flex-direction: column;
button{
width: 386px;
height: 40px;
}
}
.tasks{
display: grid;
grid-template-columns: repeat(2, 1fr);
.task-2, .task-4{
position: relative;
right: 200px;
}
}
.card{
width: 264px;
height: 522px;
flex-shrink: 0;

button{
color: var(--Black, #000);
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-weight: 600;
line-height: 140%;
letter-spacing: 0.75px;
text-transform: uppercase;
}
h5{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
letter-spacing: 0.75px;
text-transform: uppercase;
}
p{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: 140%;
letter-spacing: 0.4px;
}
}
.price{
h4{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 140%;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-left: 70px;
}
}
.text{
font-family: Montserrat;
font-weight: 700;
line-height: 140%;
letter-spacing: 0.25px;
}
.clothes{
h2{
color: #000;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.5px;
}
}