@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
#backtop {
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 50%;
bottom: -110px;
right: 25px;
width: 50px;
height: 50px;
z-index: -1;
animation: infinite 4s;
transition: 0.5s;
display: flex;
flex-direction: column-reverse;
align-items: center;

 img {
        width: 60px;
        height: 60px;
    }
}

#backtop.backtop-show {
    bottom: 25px;
    z-index: 10;
}   
.container {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
body{
background-color: #FAFAFA;
}
.man{
height: 458px;
}
.hero__right{
h1{
font-family: Montserrat;
font-weight: 700;
line-height: 140%;
letter-spacing: 0.25px;
}
p{
font-family: Montserrat;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
    p{
    color: rgba(0, 0, 0, 0.40);
    font-weight: 500;
    }
}
.stars{
p{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.1px;
}
}
}
.small__boxs{
.box{
width: 48px;
border-radius: 6px;
border: 1px solid #DBDEE7;
h2{
font-style: normal;
font-family: Montserrat;
font-weight: 700;
line-height: 24px;
}
}
}
.images{
gap: 15px;
position: relative;
bottom:100px;
}
.btn{
font-style: normal;
font-family: Montserrat;
font-weight: 700;
line-height: 24px;
display: flex;
flex-direction: column;
button{
width: 386px;
height: 40px;
}
}
.tasks{
display: grid;
grid-template-columns: repeat(2, 1fr);
.task-2, .task-4{
position: relative;
right: 200px;
}
}
.card{
width: 264px;
height: 522px;
flex-shrink: 0;

button{
color: var(--Black, #000);
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-weight: 600;
line-height: 140%;
letter-spacing: 0.75px;
text-transform: uppercase;
}
h5{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
letter-spacing: 0.75px;
text-transform: uppercase;
}
p{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: 140%;
letter-spacing: 0.4px;
}
}
.price{
h4{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 140%;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-left: 70px;
}
}
.text{
font-family: Montserrat;
font-weight: 700;
line-height: 140%;
letter-spacing: 0.25px;
}
.clothes{
h2{
color: #000;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.5px;
}
}